@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-image: url(../imgs/fundo.jpg);
}

h1{
  font-size: 3rem;
  color: #603a03;
}

#container{
  width: 950px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}